footer.footer
    .container
        .footer-top
            .footer-top-left
                .footer_logo Unicorn
                p.footer_text One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his
                form.footer-form
                    .footer-form-line.footer-form-line--flex
                        input(type="text" name="email" placeholder="EMAIL").footer-form_input#inputFocus
                        input(type="text" name="subject" placeholder="SUBJECT").footer-form_input
                    .footer-form-line
                        textarea(placeholder="MESSAGE" name="message").footer-form_text
                    .footer-form-line.afterTriangle
                        input(type="submit" value="SEND").footer-form_btn
            .footer-top-right
                nav.footer-nav
                    span.footer-nav_title Links
                    .footer-nav_list
                            a(href="#").footer-nav_link Home
                            a(href="#").footer-nav_link About
                            a(href="#").footer-nav_link Services
                            a(href="#").footer-nav_link Menu
                            a(href="#").footer-nav_link Restaurants
                            a(href="#").footer-nav_link Work Hours
                            a(href="#").footer-nav_link Call Hours
                nav.footer-nav
                    span.footer-nav_title Friends
                    .footer-nav_list
                            a(href="#").footer-nav_link Home
                            a(href="#").footer-nav_link About
                            a(href="#").footer-nav_link Services
                            a(href="#").footer-nav_link Menu
                            a(href="#").footer-nav_link Restaurants
                nav.footer-nav
                    span.footer-nav_title Social
                    .footer-nav_list
                            a(href="#").footer-nav_link Facebook
                            a(href="#").footer-nav_link Twitter
                            a(href="#").footer-nav_link Github
                            a(href="#").footer-nav_link Pinterest
                            a(href="#").footer-nav_link Google Plus
                            a(href="#").footer-nav_link Dribble
                            a(href="#").footer-nav_link Flickr
                            a(href="#").footer-nav_link Others
        .footer-bottom
            .footer-disclaimer
                span.footer-disclaimer_text One morning, when Gregor Samsa woke from troubled dreams, he found 
                span.footer-disclaimer_text © 2015 Your Awesome Company 
            nav.footer-info-menu
                a(href="#").footer-nav_link.footer-nav_link--inline Terms
                a(href="#").footer-nav_link.footer-nav_link--inline Privacy Policy
                a(href="#").footer-nav_link.footer-nav_link--inline Contact
                a(href="#").footer-nav_link.footer-nav_link--inline Job
#toTop &#9650
