header.header
    .header-container
        .header-logo
            span.header-logo_text Unicorn
        nav.header-nav
            ul.header-nav_list
                li.header-nav_item
                    a(href="#").header-nav_link HOME
                li.header-nav_item
                    a(href="#").header-nav_link ABOUT
                li.header-nav_item
                    a(href="#").header-nav_link STORIES
                li.header-nav_item
                    a(href="#").header-nav_link#linkFocus HELLO
                li.header-nav_item
            div.sandwich
section.header-banner
    .container
        .header-banner-wrap
            h1.header-banner_title STORYTELLER
            p.header-banner_text One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. 
            a.header-banner_btn read the rest
