include ./_mixins.pug
+sectionWho()
section.section.features.bg-grey
    .container.container--flex
        .features-item
            h3.features-item_title An Wow Feature
            p.features-item_text The gentlemen who rented the room would sometimes take their evening meal at home in the living.
        .features-item
            h3.features-item_title A Beautiful Feature
            p.features-item_text The gentlemen who rented the room would sometimes take their evening meal at home in the living.
        .features-item
            h3.features-item_title An Amazing Feature
            p.features-item_text The gentlemen who rented the room would sometimes take their evening meal at home in the living.
section.section.section--articles
    .container
        h2.section_title Featured Articles
        p.section_text.mb-110 The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
        .slides
            .slides-item
                span.slides-item_title comic
                p.slides-item_text A million ways to die in the wild wild wild west
                .slides-item_bottom
                    img(src= "/assets/img/Photo/Photo1.png").slides-item_photo
                    span.slides-item_name jimmy jefferson
                    span.slides-item_date 21/08/2013
            .slides-item
                .slides-item_title lifestyle
                .slides-item_text The most comfortable chair comes with no backpain
                .slides-item_bottom
                    img(src= "/assets/img/Photo/Photo2.png").slides-item_photo
                    span.slides-item_name jimmy jefferson
                    span.slides-item_date 21/08/2013
            .slides-item
                .slides-item_title travel
                .slides-item_text journey to the center of the earth with jefferson
                .slides-item_bottom
                    img(src= "/assets/img/Photo/Photo3.png").slides-item_photo
                    span.slides-item_name jimmy jefferson
                    span.slides-item_date 21/08/2013
            .slides-item
                .slides-item_title comic
                .slides-item_text journey to the center 
                .slides-item_bottom
                    img(src= "/assets/img/Photo/Photo1.png").slides-item_photo
                    span.slides-item_name jimmy jefferson
                    span.slides-item_date 21/08/2013
            .slides-item
                .slides-item_title comic
                .slides-item_text journey to the center of the earth with jefferson
                .slides-item_bottom
                    img(src= "/assets/img/Photo/Photo2.png").slides-item_photo
                    span.slides-item_name jimmy jefferson
                    span.slides-item_date 21/08/2013
            .slides-item
                .slides-item_title comic
                .slides-item_text journey to the center of the earth with jefferson
                .slides-item_bottom
                    img(src= "/assets/img/Photo/Photo3.png").slides-item_photo
                    span.slides-item_name jimmy jefferson
                    span.slides-item_date 21/08/2013
section.section.section--clients.bg-grey
    .container
        h2.section_title Clients
        .slides--clients
            img(src= "/assets/img/clients/clients1.png").slides--clients_img
            img(src= "/assets/img/clients/clients2.png").slides--clients_img
            img(src= "/assets/img/clients/clients3.png").slides--clients_img
            img(src= "/assets/img/clients/clients4.png").slides--clients_img
            img(src= "/assets/img/clients/clients5.png").slides--clients_img
            img(src= "/assets/img/clients/clients6.png").slides--clients_img
            img(src= "/assets/img/clients/clients1.png").slides--clients_img
            img(src= "/assets/img/clients/clients2.png").slides--clients_img
            img(src= "/assets/img/clients/clients3.png").slides--clients_img
            img(src= "/assets/img/clients/clients4.png").slides--clients_img
            img(src= "/assets/img/clients/clients5.png").slides--clients_img
            img(src= "/assets/img/clients/clients6.png").slides--clients_img
section.section.section--portfolio
    .container
        h2.section_title Portfolio & Screenshots
        p.section_text.mb-110 The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the 
        .filter
            .filter_item#blur Art
            .filter_item Mystery
            .filter_item Illusion
            .filter_item Travel
            .filter_item Paintings
    .slides--portfolio
        img(src= "/assets/img/Screen/screenshot1.jpg").slides--portfolio_img
        img(src= "/assets/img/Screen/Screenshot2.jpg").slides--portfolio_img
        img(src= "/assets/img/Screen/Screenshot3.jpg").slides--portfolio_img
        img(src= "/assets/img/Screen/Screenshot4.jpg").slides--portfolio_img
        img(src= "/assets/img/Screen/screenshot1.jpg").slides--portfolio_img
        img(src= "/assets/img/Screen/Screenshot2.jpg").slides--portfolio_img
        img(src= "/assets/img/Screen/Screenshot3.jpg").slides--portfolio_img
        img(src= "/assets/img/Screen/Screenshot4.jpg").slides--portfolio_img
section.section.quote
    .container
        h2.section_title.quote_title &#10076&#10076
        p.section_text.quote_text.mb-110 Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
        span.quote_author Denis Waitley
section.section.teamMembers
    .container
        h2.section_title Team Members
        p.section_text.mb-110 The gentlemen who rented the room would sometimes take their evening meal at home in the living room that was used by everyone, and so the door to this room was often kept closed in the
        .teamMembers-items
            .teamMembers_item
                img(src="/assets/img/Team/team1.png").teamMembers_photo
                .teamMembers_name James Philly
                .teamMembers_profession Lead Developer
            .teamMembers_item
                img(src="/assets/img/Team/team2.png").teamMembers_photo
                .teamMembers_name Cactus Jack
                .teamMembers_profession 3D Model Designer
            .teamMembers_item
                img(src="/assets/img/Team/team3.png").teamMembers_photo
                .teamMembers_name Jack Sparrow
                .teamMembers_profession Master of All Trade
            .teamMembers_item
                img(src="/assets/img/Team/team4.png").teamMembers_photo
                .teamMembers_name Yaga Squarehead
                .teamMembers_profession Manages Money
section.section.section--fact
    .container
        h2.section_title.section_title--fact Facts & Numbers
        .numbers
            .numbers_item
                .numbers_amount 110
                .numbers_descr successful projects
            .numbers_item
                .numbers_amount 25
                .numbers_descr awesome clients
            .numbers_item
                .numbers_amount 30
                .numbers_descr open source plugins
            .numbers_item
                .numbers_amount 13
                .numbers_descr open source themes
section.section.twit
    .container
        img(src="/assets/img/Icons/twit.png").twit_logo
        img(src="/assets/img/Photo/photo2.png").twit_photo
        p.twit_text
            |Happiness cannot be traveled to, owned, earned, or worn. It is the spiritual experience of living every minute with love, grace & gratitude.
        span.twit_sign @loveless
